@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 78 122 156;
    --color-primary-dark: 31 51 71;
    --color-accent-gold: 234 164 59;
  }

  body {
    @apply bg-[#F8FAFC] text-[#1F3347] min-h-screen selection:bg-amber-400 selection:text-slate-900 font-sans antialiased;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
